<!DOCTYPE html>

<html>

	<head>
		<title> {{ title }} </title>
	</head>

	<body>
		<center>
		<h1> Winston's Login Portal </h1>
		</center>
		{% if flag == "login" %}
			<center>
  				{{ message }}
  				<br>
  				<br>
  				<form action="/" method="POST">
  					<input type="submit" name="logval" value="Logout">
  				</form>
  			</center>
		{% endif %}
		{% if flag != "login" %}
		<center>
		<form action="/authenticate/" method="POST">
			{{ message }}
			<br>
			<br>
			<input type="text" name="user" value="">
			<br>
			<input type="password" name="password" value="">
			<br>
			<input type="submit" value="Login">
		</form>
		<br>
		<form action="/registration/">
		<input type="submit" value="Register">
		</form>
		</center>
		{% endif %}


	</body>

</html>

