<!DOCTYPE html>

<html>

	<head>
		<title> {{ title }} </title>
	<head>

	<body>
		{% if flag == "login" %}
			<center>
  				{{ message }}
  				<br>
  				<br>
  				<form action="/" method="POST">
  					<input type="submit" name="logval" value="Logout">
  				</form>
  			</center>
		{% endif %}
		{% if flag != "login" %}
		<form action="/authenticate/" method="POST">
		  {{ message }}
		  <br>
		  <input type="text" name="user" value="">
		  <br>
		  <input type="password" name="password" value="">
		  <br>
		  <input type="submit" value="Login">
		</form>
		<form action="/registration/">
		<input type="submit" value="Register">
		</form>
		{% endif %}


	</body>

</html>

